name: Main CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  all-status-check:
    name: all-status-check
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs:
      - golang-build-check
      - golang-vet-check
      - golang-fmt-check
      - golang-lint-check
      - golang-test-comment-check
      - golang-test-check
    steps:
      - uses: actions/checkout@v6
      - name: Check all-status-check
        run: |
          diff \
            <(yq ".jobs | del(.all-status-check) | keys.[]" .github/workflows/ci.yml) \
            <(yq ".jobs.all-status-check.needs.[]" .github/workflows/ci.yml)
      - name: All status check
        run: echo "All status checks passed"

  golang-build-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-golang
      - name: Run go build
        run: make build

  golang-vet-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-golang
      - name: Run go vet
        run: make vet

  golang-fmt-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-golang
      - name: Run go fmt
        run: make fmt
      - name: Check diff
        run: |
          if [[ $(git status --porcelain) ]]; then
            git status --porcelain
            git diff
            exit 1
          fi

  golang-lint-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-golang
        id: setup-go
      - name: Get versions and install golangci-lint
        id: versions
        run: |
          echo "go_version=$(go version)" >> "$GITHUB_OUTPUT"
          go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@latest
          echo "gcl_version=$(golangci-lint --version | sed 's/,/./g')" >> "$GITHUB_OUTPUT"
      - name: Cache custom-gcl
        id: cache-custom-gcl
        uses: actions/cache@v5
        with:
          path: ./custom-gcl
          key: ${{ runner.os }}-${{ steps.versions.outputs.go_version }}-${{ steps.versions.outputs.gcl_version }}-${{ hashFiles('.custom-gcl.yml') }}
      - name: Run `make lint`
        run: |
          make lint

  golang-test-comment-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-golang
      - name: Run go test
        id: golang-test
        run: |
          go test ./... -coverprofile=coverage.out -coverpkg=./...
        continue-on-error: true
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Error check
        if: ${{ steps.golang-test.outcome != 'success' }}
        run: exit 1

  golang-test-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        run: [1, 2, 3]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: ./.github/actions/setup-golang
      - name: Set up gotestfmt
        uses: gotesttools/gotestfmt-action@8b4478c7019be847373babde9300210e7de34bfb # v2.5.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run go test
        id: golang-test
        run: |
          set +e
          TEST_OUT=$(go test -json -v ./... 2>&1)
          TEST_EXIT=$?
          echo "$TEST_OUT" | tee /tmp/gotest.log | gotestfmt
          exit "$TEST_EXIT"
        continue-on-error: true
      - uses: actions/upload-artifact@v6
        with:
          name: test-log-${{ matrix.run }}
          path: /tmp/gotest.log
          if-no-files-found: error
      - name: Error check
        if: ${{ steps.golang-test.outcome != 'success' }}
        run: exit 1
